* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: white;
	--font-color: #222;
	--inverted-font-color: white;
	--secondary-font-color: #666;
	--outline-color: #444;
	--main-color: teal;
	--piece-color: skyblue;
	--piece-outline-color: black;
	--heap-outline-color: black;
	--error-color: red;
	--secondary-bg-color: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: black;
		--font-color: white;
		--inverted-font-color: white;
		--secondary-font-color: #888;
		--outline-color: #aaa;
		--main-color: rgb(52, 107, 153);
		--piece-color: yellow;
		--piece-outline-color: transparent;
		--heap-outline-color: #888;
		--error-color: orangered;
		--secondary-bg-color: #363636;
	}
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.6;
	background-color: var(--bg-color);
	color: var(--font-color);
}

a {
	color: inherit;
	text-underline-offset: 2px;
}

button {
	border: none;
	background: none;
	font: inherit;
	color: inherit;
}

button:not(:disabled) {
	cursor: pointer;
}

input {
	border: none;
	background: none;
	font: inherit;
	color: inherit;
}

input[type='checkbox'] {
	accent-color: var(--main-color);
}

input:focus-visible,
button:focus-visible,
a:focus-visible {
	outline: 2px solid var(--outline-color);
	outline-offset: 2px;
}

.button {
	background-color: var(--main-color);
	color: var(--inverted-font-color);
	padding: 0.1rem 0.5rem;
	border-radius: 0.2rem;
}

.input {
	border: 1px solid var(--outline-color);
	padding: 0.1rem 0.5rem;
	border-radius: 0.2rem;
}

.input:invalid {
	border-color: var(--error-color);
}

input[type='number'] {
	appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
